```css
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 253, 253;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaflet-container {
  font-family: inherit;
  z-index: 10;
  border-radius: 40px;
}

.marker-pin {
  font-size: 30px;
  background: white;
  border-radius: 20px;
  padding: 8px;
  border: 4px solid #FF3D00;
  box-shadow: 0 10px 25px rgba(255, 61, 0, 0.2);
}

```
